{{template "header.html" .}}
{{template "chart.html" .}}
{{template "datepicker.html" .}}
{{template "datatable.fix.html" .}}
<div id="mainMenu" class="clearfix">
	<div id="sidebarHeader">
		<div class="title">
			{{- if .Data.productID}}
					{{.Data.product.Name}}
					{{html_a (or (and (eq $.Data.browseType "byproduct") (helper_createLink "project" "task" "projectID=" $.Data.projectID "&browseType=" $.Data.status "&param=0&orderBy=" $.Data.orderBy "&recTotal=0&recPerPage=" $.Page.PerPage)) "javascript:removeCookieByKey(\"productBrowseParam\")")  "<i class='icon icon-sm icon-close'></i>" ""  "class='text-muted'"}}
			{{- else if .Data.moduleID}}
					{{.Data.module.Name}}					
					{{html_a (or (and (eq $.Data.browseType "bymodule") (helper_createLink "project" "task" "projectID=" $.Data.projectID "&browseType=" $.Data.status "&param=0&orderBy=" $.Data.orderBy "&recTotal=0&recPerPage=" $.Page.PerPage)) "javascript:removeCookieByKey(\"moduleBrowseParam\")")  "<i class='icon icon-sm icon-close'></i>" ""  "class='text-muted'"}}
			{{- else}}
			{{.Lang.tree.all}}
			{{- end}}
		</div>
	</div>
	<div class="btn-toolbar pull-left">
		{{- range  $menuItem :=custom_getFeatureMenu . "project" "task"}}
			{{- if not (or (and (eq $.Data.project.Type "ops") (eq $menuItem.Name "needconfirm")) $menuItem.Hidden)}}
				{{- $menuType :=  $menuItem.Name}}
				{{- if eq $menuType "QUERY"}}
						{{- if $.Data.custom_queryList}}
		<div class='btn-group' id='query'>
		{{- $active:= false}}{{$title:=""}}
		{{- range $query := $.Data.custom_queryList}}{{if and (eq (session $ "taskBrowseType") "bysearch") (eq $query.Id  $.Data.param)}}{{$active = true}}{{$title = $query.Title}}{{end}}{{end}}
		{{- if $active}}
			{{html_a "javascript:;" (strAdd "<span class='text'>" $title "</span> <span class='label label-light label-badge'>" $.Page.Total "</span><span class='caret'></span>") "" "data-toggle='dropdown' class='btn btn-link btn-active-text'"}}
		{{- else}}
			{{html_a "javascript:;" (strAdd $menuItem.Text " <span class='caret'></span>") "" "data-toggle='dropdown' class='btn btn-link'"}}
		{{- end}}
			<ul class='dropdown-menu'>
		{{- range $query:=$.Data.custom_queryList}}
				<li{{if eq $query.Id  $.Data.param}} class='active'{{end}}>
					{{html_a (helper_createLink "project" "task"  "projectID=" $.Data.projectID "&type=bySearch&param=" $query.Id)  $query.Title}}
				</li>
		{{- end}}
			</ul>
		</div>
						{{- end}}
				{{- else if and (ne $menuType "status") (ne $menuType "QUERY")}}
						{{- $label := strAdd "<span class='text'>" $menuItem.Text "</span>"}}{{$active  :=""}}
						{{- if eq $menuType $.Data.browseType}}{{$label = strAdd $label "<span class='label label-light label-badge'>" $.Page.Total "</span>"}}{{$active = "btn-active-text"}}{{end}}
					{{html_a (helper_createLink "project" "task"  "projectID=" $.Data.projectID "&type=" $menuType)  $label "" (strAdd "id='" $menuType "' class='btn btn-link " $active "'")}}
				{{- else if eq $menuType "status"}}
					<div class='btn-group'>
						{{$taskBrowseType:=(session $ "taskBrowseType")}}
						{{- $active :=getValue $.Lang.project.statusSelects $taskBrowseType}}
						{{- if $active}}
						{{html_a "javascript:;" (strAdd "<span class='text'>" $active "</span> <span class='label label-light label-badge'>" $.Page.Total "</span><span class='caret'></span>") "" "data-toggle='dropdown' class='btn btn-link btn-active-text'"}}
						{{- else}}
						{{html_a "javascript:;" (strAdd $menuItem.Text " <span class='caret'></span>") "" "data-toggle='dropdown' class='btn btn-link'"}}
						{{- end}}
						<ul class='dropdown-menu'>
						{{range $kv:=$.Lang.project.statusSelects}}{{if ne $kv.Key ""}}
							<li{{if eq $kv.Key $taskBrowseType}} class='active'{{end}}>
								{{html_a (helper_createLink "project" "task"  "projectID=" $.Data.projectID "&type=" $kv.Key)  $kv.Value}}
							</li>
						{{end}}{{end}}
						</ul></div>
				{{- end}}
		{{- end}}{{end}}
		<a class="btn btn-link querybox-toggle" id='bysearchTab'><i class="icon icon-search muted"></i> {{.Lang.product.searchStory}}</a>
	</div>
	<div class="btn-toolbar pull-right">
		{{common_printIcon . "task" "report"  (strAdd "projectID=" $.Data.projectID "&browseType=" $.Data.browseType) "" "button" "bar-chart muted"}}
		<div class="btn-group dropdown-hover">
			<button class="btn btn-link" data-toggle="dropdown"><i class="icon icon-export muted"></i> <span class="text">{{.Lang.common.export}}</span> <span class="caret"></span></button>
			<ul class="dropdown-menu pull-right" id='exportActionMenu'>
				{{$export_hasPriv := common_hasPriv . "task" "export"}}
				{{if $export_hasPriv}}<li>{{else}}<li class=disabled>{{end}}{{html_a (or (and $export_hasPriv (helper_createLink "task" "export" "projectID=" $.Data.projectID "&orderBy=" $.Data.orderBy "&type=" $.Data.browseType)) "#")  .Lang.story.export ""  (or (and $export_hasPriv "class='export'") "class=disabled")}}</li>
				{{$exportfile_hasPriv := common_hasPriv . "task" "exportfile"}}
				{{if $exportfile_hasPriv}}<li>{{else}}<li class=disabled>{{end}}{{html_a (or (and $exportfile_hasPriv (helper_createLink "task" "exportfile" "projectID=" $.Data.projectID "&orderBy=id&type=" $.Data.browseType)) "#") (strAdd "<span>" .Lang.project.exportfile "</span>") "" (or (and $exportfile_hasPriv "class='exportfile'") "class=disabled")}}</li>
			</ul>
		</div>

		<div class="btn-group dropdown-hover">
			<button class="btn btn-link" data-toggle="dropdown"><i class="icon icon-import muted"></i> <span class="text">{{.Lang.common.import}}</span> <span class="caret"></span></button>
			<ul class="dropdown-menu pull-right" id='importActionMenu'>
				{{$importTask_hasPriv := common_hasPriv . "task" "importTask"}}
				{{if $importTask_hasPriv}}<li>{{else}}<li class=disabled>{{end}}{{html_a (or (and $importTask_hasPriv (helper_createLink "project" "importTask" "projectID=" $.Data.projectID)) "#") .Lang.project.importTask  "" (or (and $importTask_hasPriv "class='import'") "class=disabled")}}</li>
				{{$importBug_hasPriv := common_hasPriv . "task" "importBug"}}
				{{if $importBug_hasPriv}}<li>{{else}}<li class=disabled>{{end}}{{html_a (or (and $importBug_hasPriv (helper_createLink "project" "importBug" "projectID=" $.Data.projectID)) "#")  .Lang.project.importBug  "" (or (and $importBug_hasPriv "class='import'") "class=disabled")}}</li>
			</ul>
		</div>
		{{if common_hasPriv . "task" "batchCreate"  $.Data.checkObject}}{{html_a (helper_createLink "task" "batchCreate" "projectID=" $.Data.projectID "&storyID=&moduleID=" $.Data.moduleID)  (strAdd "<i class='icon icon-plus'></i>" .Lang.task.batchCreate) ""  "class='btn btn btn-secondary'"}}{{end}}
		{{if common_hasPriv . "task" "create"  $.Data.checkObject}}{{html_a (helper_createLink "task" "create" "projectID=" $.Data.projectID "&storyID=&moduleID=" $.Data.moduleID)  (strAdd "<i class='icon icon-plus'></i>" .Lang.task.create) "" "class='btn btn-primary'"}}{{end}}
	</div>
</div>
<div id="mainContent" class="main-row fade">
	<div class="side-col" id="sidebar">
		<div class="sidebar-toggle"><i class="icon icon-angle-left"></i></div>
		<div class="cell">
			{{.Data.moduleTree}}
			<div class="text-center">
				{{common_printLink . "tree" "browseTask"  (strAdd "rootID=" .Data.projectID "&productID=0")  .Lang.tree.manage "" "class='btn btn-info btn-wide'"}}
				<hr class="space-sm" />
			</div>
		</div>
		<div class="cell2">
			<div class="text-center">
			<a class="btn btn-info btn-wide">{{.Lang.project.specFile}}</a>
				<hr class="space-sm" />
				{{common_printLink . "project" "showFile"  (strAdd "projectID=" .Data.projectID "&spec=modelFile&onlybody=yes")  (getValue .Lang.file.specFile "modelFile") "" "id='batchCreate' class='text-secondary small iframe' data-width='80%'" "" "true"}}
				<hr class="space-sm" />
				{{common_printLink . "project" "showFile" (strAdd "projectID=" .Data.projectID "&spec=animationFile&onlybody=yes")  (getValue .Lang.file.specFile "animationFile") "" "id='batchCreate' class='text-secondary small iframe' data-width='80%'" "" "true"}}
				<hr class="space-sm" />
				{{common_printLink . "project" "showFile"  (strAdd "projectID=" .Data.projectID "&spec=specialFile&onlybody=yes")  (getValue .Lang.file.specFile "specialFile") "" "id='batchCreate' class='text-secondary small iframe' data-width='80%'" "" "true"}}
				<hr class="space-sm" />
				{{common_printLink . "project" "showFile"  (strAdd "projectID=" .Data.projectID "&spec=bindingFile&onlybody=yes")  (getValue .Lang.file.specFile "bindingFile") "" "id='batchCreate' class='text-secondary small iframe' data-width='80%'" "" "true"}}
				<hr class="space-sm" />
				{{common_printLink . "project" "showFile"  (strAdd "projectID=" .Data.projectID "&spec=twodFile&onlybody=yes")  (getValue .Lang.file.specFile "twodFile") "" "id='batchCreate' class='text-secondary small iframe' data-width='80%'" "" "true"}}
				<hr class="space-sm" />
				{{common_printLink . "project" "showFile"  (strAdd "projectID=" .Data.projectID "&spec=otherFile&onlybody=yes")  (getValue .Lang.file.specFile "otherFile") "" "id='batchCreate' class='text-secondary small iframe' data-width='80%'" "" "true"}}
				<hr class="space-sm" />
			</div>
		</div>
	</div>
	
	<div class="main-col">
		<div class="cell{{if eq .Data.browseType "bysearch"}} show{{end}}" id="queryBox"></div>
		{{if not .Data.tasks}}
		<div class="table-empty-tip">
			<p>
				<span class="text-muted">{{.Lang.task.noTask}}</span>
				{{if common_hasPriv . "task" "create"  .Data.checkObject}}
				<span class="text-muted">{{.Lang.common.youCould}}</span>
				{{html_a (helper_createLink "task" "create"  "projectID=" .Data.projectID (or (and .Data.moduleID (strAdd "&storyID=&moduleID=" .Data.moduleID)) ""))  (strAdd "<i class='icon icon-plus'></i> " .Lang.task.create) "" "class='btn btn-info'"}}
				{{end}}
			</p>
		</div>
		{{else}}
		<form class="main-table table-task skip-iframe-modal" method="post" id='projectTaskForm'>
			<div class="table-header fixed-right">
				<nav class="btn-toolbar pull-right"></nav>
			</div>	
			{{template "datatable.html" .}}	 
			{{if not .Data.useDatatable}}<div class="table-responsive">{{end}}
			<table class='table has-sort-head{{if .Data.useDatatable}} datatable{{end}}' id='taskList' data-fixed-left-width='{{index .Data.widths "leftWidth"}}' data-fixed-right-width='{{index .Data.widths "rightWidth"}}'>
				<thead>
					<tr>
					{{- range $field := $.Data.customFields}}{{if $field.Show}}
						{{datatable_printHead $ $field $.Data.orderBy (strAdd "projectID=" $.Data.project.Id "&status=" $.Data.status "&parma=" $.Data.param "&orderBy=%s&recTotal=" $.Page.Total "&recPerPage=" $.Page.PerPage)}}
					{{- end}}{{end}}
					</tr>
				</thead>
				<tbody>
					{{.Data.taskCell}}
				</tbody>
			</table>
			{{if not .Data.useDatatable}}</div>{{end}}

			<div class="table-footer">
				<div class="checkbox-primary check-all"><label>{{.Lang.common.selectAll}}</label></div>
				<div class="table-actions btn-toolbar">
					{{- $canBatchEdit         := common_hasPriv . "task" "batchEdit"}}
					{{- $canBatchClose        := and (common_hasPriv . "task" "batchClose") (ne .Data.browseType "closedBy")}}
					{{- $canBatchCancel       := common_hasPriv . "task" "batchCancel"}}
					{{- $canbatchexamine      := common_hasPriv . "task" "batchexamine"}}
					{{- $canbatchproofreading := common_hasPriv . "task" "batchproofreading"}}
					{{- $canBatchChangeModule := common_hasPriv . "task" "batchChangeModule"}}
					{{- $canBatchAssignTo     := common_hasPriv . "task" "batchAssignTo"  }}
					{{- $canBatchPlaceOrder       := common_hasPriv . "task" "placeOrder" }}
					<div class='btn-group dropup'>
						{{html_commonButton .Lang.common.edit (strAdd "data-form-action='" (helper_createLink "task" "batchEdit" "projectID=" .Data.projectID) "'" (or (and $canBatchEdit " ") " disabled='disabled'"))}}
						<button type='button' class='btn dropdown-toggle' data-toggle='dropdown'><span class='caret'></span></button>
						<ul class='dropdown-menu'>
						<li>{{html_a "#"  .Lang.common.close ""  (or (and $canBatchClose (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "batchClose" "projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.cancel ""  (or (and $canBatchCancel (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "batchCancel" "projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						</ul>
					</div>
					
					<div class='btn-group dropup'>
						{{html_commonButton .Lang.project.batchEdit (strAdd "data-form-action='" (helper_createLink "task" "batchEdit" "projectID=" .Data.projectID) "'" (or (and $canBatchEdit " ") " disabled='disabled'"))}}
						<button type='button' class='btn dropdown-toggle' data-toggle='dropdown'><span class='caret'></span></button>
						<ul class='dropdown-menu'>
						<li>{{html_a "#"  .Lang.task.batchexamine ""  (or (and $canbatchexamine (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "batchexamine" "projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.batchproofreading ""  (or (and $canbatchproofreading (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "batchproofreading" "projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.batchexaminec ""  (or (and $canbatchexamine (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "batchexaminec" "projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.batchproofreadingc ""  (or (and (common_hasPriv . "task" "batchproofreadingc") (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "batchproofreadingc" "projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.finishall ""  (or (and (common_hasPriv . "task" "finishall") (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "finishall" "projectID=" $.Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.exportfinish ""  (or (and (common_hasPriv . "task" "exportfinish") (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "exportfinish" "projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.setPlaceOrder ""  (or (and $canBatchPlaceOrder (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "placeOrder" "action=1" "&projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						<li>{{html_a "#"  .Lang.task.cancelPlaceOrder ""  (or (and $canBatchPlaceOrder (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "placeOrder" "action=0" "&projectID=" .Data.projectID) "', 'hiddenwin', '#taskList')\"")) "class='disabled'")}}</li>
						</ul>
					</div>
					
					{{if false}}
					<div class="btn-group dropup">
						<button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.moduleAB}} <span class="caret"></span></button>
						{{$withSearch := gt (len .Data.modules) 10}}
						{{if $withSearch}}
						<div class="dropdown-menu search-list search-box-sink" data-ride="searchList">
							<div class="input-control search-box has-icon-left has-icon-right search-example">
								<input id="userSearchBox" type="search" autocomplete="off" class="form-control search-input">
								<label for="userSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
								<a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
							</div>
						
						{{else}}
						<div class="dropdown-menu search-list">
						{{end}}
							<div class="list-group">
								{{range $kv := .Data.modules}}
										{{html_a "#"  $kv.Value ""  (strAdd "onclick=\"setFormAction('" (helper_createLink "task" "batchChangeModule" "moduleID=" $kv.Key) "', 'hiddenwin', '#taskList')\"")}}
								{{end}}
							</div>
						</div>
					</div>
					{{- end}}
					{{- if $canBatchAssignTo}}
					<div class="btn-group dropup">
						<button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.assignedTo}} <span class="caret"></span></button>
						{{- $withSearch := gt (len $.Data.memberPairs) 10}}
						{{- html_select "assignedTo"  $.Data.memberPairs "" "class='hidden'"}}
						{{if $withSearch}}
						<div class="dropdown-menu search-list search-box-sink" data-ride="searchList">
							<div class="input-control search-box has-icon-left has-icon-right search-example">
								<input id="userSearchBox" type="search" autocomplete="off" class="form-control search-input">
								<label for="userSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
								<a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
							</div>
						{{else}}
						<div class="dropdown-menu search-list">
						{{end}}
							<div class="list-group">
								{{- $actionLink := helper_createLink "task" "batchAssignTo" "projectID=" $.Data.projectID}}
								{{- range $kv := .Data.memberPairs}}{{if $kv.Key}}
									{{html_a (strAdd "javascript:$(\".table-actions #assignedTo\").val(\"" $kv.Key "\");setFormAction(\"" $actionLink "\", \"hiddenwin\", \"#taskList\")") $kv.Value ""}}
								{{end}}{{end}}
							</div>
						</div>
					</div>
					{{end}}
				</div>
				<div class="table-statistic">{{.Data.summary}}</div>
				{{pager_show . "right" "pagerjs"}}
			</div>
		</form>
		{{end}}
	</div>
</div>
<script>
var moduleID={{.Data.moduleID}},productID={{.Data.productID}},projectID={{.Data.projectID}},browseType={{.Data.browseType}},replaceID="taskList";
$(function()
{
	$('#exportActionMenu li span').each(function(index, el) {
		$(this).unbind().click(function(event) {
			if(confirm('是否要导出所有文件')) $(this).parents().click();
		});
	});
		// Update table summary text
		var checkedSummary = '{{.Lang.project.checkedSummary}}';
		$('#projectTaskForm').table(
		{
				statisticCreator: function(table)
				{
						var $checkedRows = table.getTable().find(table.isDataTable ? '.datatable-row-left.checked' : 'tbody>tr.checked');
						var $originTable = table.isDataTable ? table.$.find('.datatable-origin') : null;
						var checkedTotal = $checkedRows.length;
						if(!checkedTotal) return;

						var checkedWait     = 0;
						var checkedDoing    = 0;
						var checkedEstimate = 0;
						var checkedConsumed = 0;
						var checkedLeft     = 0;
						$checkedRows.each(function()
						{
								var $row = $(this);
								if ($originTable)
								{
										$row = $originTable.find('tbody>tr[data-id="' + $row.data('id') + '"]');
								}
								var data = $row.data();
								var status = data.status;
								if(status === 'wait') checkedWait++;
								if(status === 'doing') checkedDoing++;
								if(!$row.hasClass('table-children'))
								{
										if(status !== 'cancel')
										{
												checkedEstimate += Number(data.estimate);
												checkedConsumed += Number(data.consumed);
										}
										if(status != 'cancel' && status != 'closed') checkedLeft += Number(data.left);
								}
						});
						return checkedSummary.replace('%total%', checkedTotal).replace('%wait%', checkedWait)
							.replace('%doing%', checkedDoing)
							.replace('%estimate%', checkedEstimate.toFixed(1))
							.replace('%consumed%', checkedConsumed.toFixed(1))
							.replace('%left%', checkedLeft.toFixed(1));
				}
		})
});
var taskhtml={{.Data.taskhtml}};
var useDatatable={{if .Data.useDatatable}}true{{else}}false{{end}};
var datatableSetting={{.Data.customFields}};
var add=true;
$(function()
{
while($(window).height()==$(document).height() && taskhtml.length){
	addtask()
}
});
$(window).scroll(function(){
	if(add && taskhtml.length && $(document).height()-$(document).scrollTop()-$(window).height()<400){
		add=false;
		addtask()
	}
});

function addtask(){
	var row=$('#datatable-taskList .datatable-rows .fixed-left tr').length;
		var html=taskhtml.splice(0,10);
		$('#taskList tbody').append(html.join(''));
		if(useDatatable){
			var htmlleft=[],htmlno=[],htmlright=[];
			for(var i in html){
				var tr=html[i].split('<tr');
				for(var k=1;k<tr.length;k++){
					var td=tr[k].split('<td');
					var tdleft=[],tdno=[],tdright=[];
					var index=0;
					for(var j in datatableSetting){
						var setting=datatableSetting[j];
						if(!setting.show) continue;
						title=td[index+1].match(/title='([^']+)'/)?td[index+1].match(/title='([^']+)'/)[1]:'';
						switch(setting.fixed){
							case 'left':
							tdleft.push('<td class="datatable-cell '+td[index+1].match(/class='([^']+)'/)[1]+'" colspan="1" data-row="'+row+'" data-index="'+index+'" data-flex="'+$('#taskList thead tr th').eq(index).attr('data-flex')+'" data-type="string" title="'+title+'" style="width: '+$('#taskList thead tr th').eq(index).attr('data-width')+';">'+td[index+1].replace(/ class='([^']+)'\s*(title='[^']+')?>/,''));
							break;
							case 'no':
							tdno.push('<td class="datatable-cell '+td[index+1].match(/class='([^']+)'/)[1]+'" colspan="1" data-row="'+row+'" data-index="'+index+'" data-flex="'+$('#taskList thead tr th').eq(index).attr('data-flex')+'" data-type="string" title="'+title+'" style="width: '+$('#taskList thead tr th').eq(index).attr('data-width')+';">'+td[index+1].replace(/ class='([^']+)'\s*(title='[^']+')?>/,''));
							break;
							case 'right':
							tdright.push('<td class="datatable-cell '+td[index+1].match(/class='([^']+)'/)[1]+'" colspan="1" data-row="'+row+'" data-index="'+index+'" data-flex="'+$('#taskList thead tr th').eq(index).attr('data-flex')+'" data-type="string" title="'+title+'" style="width: '+$('#taskList thead tr th').eq(index).attr('data-width')+';">'+td[index+1].replace(/ class='([^']+)'\s*(title='[^']+')?>/,''));
							break;
						}
						index++;
					}
					trclass=td[0].match(/class='([^']+)'/)?td[0].match(/class='([^']+)'/)[1]:'';
					htmlleft.push('<tr class="datatable-row '+trclass+' datatable-row-left" data-index="'+row+'" data-id="'+td[0].match(/data-id='([^']+)'/)[1]+'">'+tdleft.join('')+'</tr>');
					htmlno.push('<tr class="datatable-row '+trclass+' datatable-row-flex" data-index="'+row+'" data-id="'+td[0].match(/data-id='([^']+)'/)[1]+'">'+tdno.join('')+'</tr>');
					htmlright.push('<tr class="datatable-row '+trclass+' datatable-row-right" data-index="'+row+'" data-id="'+td[0].match(/data-id='([^']+)'/)[1]+'">'+tdright.join('')+'</tr>');
					row++;
				}
				
			}
			$('#datatable-taskList .datatable-rows .fixed-left tbody').append(htmlleft.join(''));
		$('#datatable-taskList .datatable-rows .flexarea tbody').append(htmlno.join(''));
		$('#datatable-taskList .datatable-rows .fixed-right tbody').append(htmlright.join(''));
		}
		add=true;
}
</script>
{{template "footer.html" .}}
