{{template "header.html" .}}
{{template "datatable.fix.html" .}}
<div id="mainMenu" class="clearfix">
  <div id="sidebarHeader">
    <div class="title">
      {{- .Data.moduleName -}}
      {{if .Data.moduleID}}{{if eq .Data.browseType "bymodule"}}{{html_a (helper_createLink "product" "browse" "productID=" .Data.productID "&branch=" .Data.branch "&browseType=" .Data.browseType "&param=0&orderBy=" .Data.orderBy "&recTotal=0&recPerPage=" .Page.PerPage) "<i class='icon icon-sm icon-close'></i>" "" "class='text-muted'"}}{{else}}{{html_a "javascript:removeCookieByKey('storyModule')" "<i class='icon icon-sm icon-close'></i>" "" "class='text-muted'"}}{{end}}{{end}}
    </div>
  </div>
  <div class="btn-toolbar pull-left">
    {{- range $menuItem:=.Lang.product.featureBar.browse}}
        {{- if eq $menuItem.Key  "more"}}
            {{- if $.Lang.product.moreSelects}}
                {{- $moreLabel       := $.Lang.common.more}}
                {{- $moreLabelActive := ""}}
                {{- if getValue $.Lang.product.moreSelects $.Data.browseType}}    
                    {{- $moreLabel       = strAdd "<span class='text'>" (getValue $.Lang.product.moreSelects $.Data.browseType) "</span> <span class='label label-light label-badge'>" $.Page.Total "</span>"}}
                    {{- $moreLabelActive = "btn-active-text"}}
                {{- end}}
              <div class="btn-group">
                {{html_a "javascript:;" (strAdd $moreLabel  " <span class='caret'></span>") "" (strAdd "data-toggle='dropdown' class='btn btn-link " $moreLabelActive "'")}}
                <ul class='dropdown-menu'>
                {{range $item := $.Lang.product.moreSelects}}
                    {{- $active := and (or (eq $item.Key $.Data.browseType) "")  "btn-active-text" -}}
                    <li>{{html_a (helper_createLink "product" "browse" "productID=" $.Data.productID "&branch=" $.Data.branch "&browseType=" $item.Key) (strAdd "<span class='text'>" $item.Value "</span>") "" (strAdd "class='btn btn-link " $active "'")}}</li>
                {{- end}}
                </ul>
              </div>
            {{- end}}
        {{- else}}
            {{- html_a (helper_createLink "product" "browse" "productID=" $.Data.productID "&branch=" $.Data.branch "&browseType=" $menuItem.Key) (strAdd "<span class='text'>" $menuItem.Value "</span>" (and (or (eq $menuItem.Key $.Data.browseType) "") (strAdd "<span class='label label-light label-badge'>" $.Page.Total "</span>"))) "" (strAdd "id='" $menuItem.Key "Tab' class='btn btn-link"  (and (or (eq $menuItem.Key $.Data.browseType) "") " btn-active-text") "'")}}
        {{end -}}
    {{end}}
    <a class="btn btn-link querybox-toggle" id='bysearchTab'><i class="icon icon-search muted"></i> {{.Lang.product.searchStory}}</a>
  </div>
  <div class="btn-toolbar pull-right">
    {{common_printIcon . "story" "report" (strAdd "productID=" .Data.productID "&browseType=" .Data.browseType "&branchID=" .Data.branch "&moduleID=" .Data.moduleID) nil "button" "bar-chart muted" }}
    <div class="btn-group">
      <button class="btn btn-link" data-toggle="dropdown"><i class="icon icon-export muted"></i> <span class="text">{{.Lang.common.export }}</span> <span class="caret"></span></button>
      <ul class="dropdown-menu" id='exportActionMenu'>
        {{- $misc  := or (and (common_hasPriv . "story" "export") "class='export'") "class=disabled"}}
        {{- $link  := or (and (common_hasPriv . "story" "export") (helper_createLink "story" "export" "productID=" .Data.productID "&orderBy=" .Data.orderBy "&projectID=0&browseType=" .Data.browseType)) "#"}}
        <li {{if (common_hasPriv . "story" "export")}}{{else}}class='disabled'{{end}}>{{html_a $link .Lang.story.export "" $misc}}</li>
      </ul>
    </div>
    {{if common_hasPriv . "story" "batchCreate"}}{{html_a (helper_createLink "story" "batchCreate" "productID=" .Data.productID "&branch=" .Data.branch "&moduleID=" .Data.moduleID) (strAdd "<i class='icon icon-plus'></i>" .Lang.story.batchCreate) "" "class='btn btn btn-secondary'"}}{{end}}
        {{if common_hasPriv . "story" "create"}}{{html_a (helper_createLink "story" "create" "productID=" .Data.productID "&branch=" .Data.branch "&moduleID=" .Data.moduleID) (strAdd "<i class='icon icon-plus'></i> " .Lang.story.create) "" "class='btn btn-primary'"}}{{end}}
  </div>
</div>
<div id="mainContent" class="main-row fade">
  <div class="side-col" id="sidebar">
    <div class="sidebar-toggle"><i class="icon icon-angle-left"></i></div>
    <div class="cell">
      {{if .Data.moduleTree}}{{else}}
      <hr class="space">
      <div class="text-center text-muted">
        {{.Lang.product.noModule}}
      </div>
      <hr class="space">
      {{- end}}
      {{.Data.moduleTree}}
      <div class="text-center">
        {{common_printLink . "tree" "browse" (strAdd "productID=" .Data.productID "&view=story") .Lang.tree.manage "" "class='btn btn-info btn-wide'"}}
        <hr class="space-sm" />
      </div>
    </div>
  </div>
  <div class="main-col">
    <div class="cell{{if eq .Data.browseType "bysearch"}} show{{end}}" id="queryBox"></div>
    {{if eq (len .Data.stories) 0}}
    <div class="table-empty-tip">
      <p>
        <span class="text-muted">{{.Lang.story.noStory}}</span>
        {{if common_hasPriv . "story" "create"}}
        <span class="text-muted">{{.Lang.youCould}}</span>
        {{html_a (helper_createLink "story" "create" "productID=" .Data.productID "&branch=" .Data.branch "&moduleID=" .Data.moduleID) (strAdd "<i class='icon icon-plus'></i> "  .Lang.story.create) "" "class='btn btn-info'"}}
        {{end}}
      </p>
    </div>
    {{else}}
    <form class="main-table table-story skip-iframe-modal" method="post" id='productStoryForm'>
      <div class="table-header fixed-right">
        <nav class="btn-toolbar pull-right"></nav>
      </div>
      {{- $vars := (strAdd "productID=" .Data.productID "&branch=" .Data.branch "&browseType=" .Data.browseType "&param=" .Data.param "&orderBy=%s&recTotal=" .Page.Total "&recPerPage=" .Page.PerPage)}}
      {{template "datatable.html" .}}
      {{if not .Data.useDatatable}}<div class="table-responsive">{{end}}
      <table class='table has-sort-head{{if .Data.useDatatable}} datatable{{end}}' id='storyList' data-fixed-left-width='{{index .Data.widths "leftWidth"}}' data-fixed-right-width='{{index .Data.widths "rightWidth"}}'>
        <thead>
          <tr>
          {{- range $value := .Data.setting}}
              {{if $value.Show}}{{datatable_printHead $ $value $.Data.orderBy $vars true}}{{end}}
          {{- end}}
          </tr>
        </thead>
        <tbody>
          {{range $story := .Data.stories}}
          <tr data-id='{{$story.Id}}' data-estimate='{{$story.Estimate}}' data-cases='{{if $.Data.storyCases}}{{index $.Data.storyCases $story.Id}}{{else}}0{{end}}'>
            {{range  $key,$value := $.Data.setting}}{{story_printCell $ $value $story $.Data.users $.Data.branches $.Data.storyStages $.Data.modulePairs $.Data.storyTasks $.Data.storyBugs $.Data.storyCases (or (and $.Data.useDatatable "datatable") "table")}}{{end}}
          </tr>
          {{end}}
        </tbody>
      </table>
      {{if not .Data.useDatatable}}</div>{{end}}
      <div class="table-footer">
        <div class="checkbox-primary check-all"><label>{{.Lang.common.selectAll}}</label></div>
        <div class="table-actions btn-toolbar">
          <div class='btn-group dropup'>
            {{html_commonButton .Lang.common.edit (strAdd "data-form-action='" (helper_createLink "story" "batchEdit" "productID=" .Data.productID "&projectID=0&branch=" .Data.branch) "' " (or (and (common_hasPriv . "story" "batchEdit") " ") "disabled='disabled'"))}}
            <button type='button' class='btn dropdown-toggle' data-toggle='dropdown'><span class='caret'></span></button>
            <ul class='dropdown-menu'>
              {{- $class := "class='disabled'"}}
              {{- $canBatchClose := and (common_hasPriv . "story" "batchClose") (ne .Data.browseType "closedbyme") (ne .Data.browseType "closedstory")}}
              {{- $misc := or (and $canBatchClose (strAdd "onclick=\"setFormAction('" (helper_createLink "story" "batchClose" "productID=" .Data.productID "&projectID=0") "')\"")) $class}}
              <li>{{html_a "#" .Lang.common.close "" $misc}}</li>
              {{if common_hasPriv . "story" "batchReview"}}
                  <li class='dropdown-submenu'>
                  {{html_a "javascript:;" .Lang.story.review "" "id='reviewItem'"}}
                  <ul class='dropdown-menu'>
                  {{- range $kv := .Lang.story.reviewResultList}}{{if not (or (eq $kv.Key "") (eq $kv.Key "revert"))}}
                      {{- if eq $kv.Key "reject"}}
                          <li class='dropdown-submenu'>
                          {{html_a "#" $kv.Value "" "id='rejectItem'"}}
                          <ul class='dropdown-menu'>
                          {{- range $kv := $.Lang.story.reasonList}}{{if not (or (eq $kv.Key "") (eq $kv.Key "subdivided") (eq $kv.Key "duplicate"))}}
                              <li>{{html_a "#" $kv.Value "" (strAdd "onclick=\"setFormAction('" (helper_createLink "story" "batchReview" "result=reject&reason=" $kv.Key) "','hiddenwin')\"")}}</li>
                          {{- end}}{{end}}
                          '</ul></li>';
                      {{- else}}
                        <li>{{html_a "#" $kv.Value "" (strAdd "onclick=\"setFormAction('" (helper_createLink "story" "batchReview" "result=" $kv.Key) "','hiddenwin')\"")}}</li>
                  {{- end}}{{end}}{{end}}
                  '</ul></li>
              {{else}}
                  <li>{{html_a "javascript:;" .Lang.story.review  "" $class}}</li>
              {{end}}
             {{- if and (common_hasPriv . "story" "batchChangeBranch") (ne (session . "currentProductType") "normal")}}
                  {{- $withSearch := gt (len .Data.branches) 8}}
                  <li class='dropdown-submenu'>
                  {{html_a "javascript:;" (getValue .Lang.product.branchName (session . "currentProductType")) "" "id='branchItem'"}}
                  <div class='dropdown-menu{{if $withSearch}} with-search{{end}}'>
                  <ul class='dropdown-list'>
                  {{- range $kv := .Data.branches}}
                      <li class='option' data-key='$branchID'>{{html_a "#" $kv.Value "" (strAdd "onclick=\"setFormAction('" (helper_createLink "story" "batchChangeBranch" "branchID=" $kv.Key) "', 'hiddenwin')\"")}}</li>
                  {{- end}}
                  </ul>
                  {{if $withSearch}}<div class='menu-search'><div class='input-group input-group-sm'><input type='text' class='form-control' placeholder=''><span class='input-group-addon'><i class='icon-search'></i></span></div></div>{{end}}
                  </div>
                </li>
              {{- end}}
              {{- if common_hasPriv . "story" "batchChangeStage"}}
                  <li class='dropdown-submenu'>
                  {{html_a "javascript:;" .Lang.story.stageAB "" "id='stageItem'"}}
                  <ul class='dropdown-menu'>
                  {{- range $kv := .Lang.story.stageList}}{{if ne $kv.Key ""}}
                      <li>{{html_a "#" $kv.Value "" "onclick=\"setFormAction('" (helper_createLink "story" "batchChangeStage" "stage=" $kv.Key) "','hiddenwin')\""}}</li>
                  {{- end}}{{- end}}
                  </ul>
                </li>
              {{else}}
                  <li>{{html_a "javascript:;" .Lang.story.stageAB "" $class}}</li>
              {{end}}
            </ul>
          </div>
          {{if common_hasPriv . "story" "batchChangeModule"}}
          <div class="btn-group dropup">
            <button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.moduleAB}} <span class="caret"></span></button>
            {{- $withSearch := gt (len .Data.modules) 8}}
            <div class="dropdown-menu search-list{{and $withSearch " search-box-sink"}}" data-ride="searchList">
              {{- if $withSearch}}
              <div class="input-control search-box has-icon-left has-icon-right search-example">
                <input id="moduleSearchBox" type="search" autocomplete="off" class="form-control search-input">
                <label for="moduleSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                <a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
              </div>
              {{- end}}
              <div class="list-group">
                {{- range $kv:= .Data.modules}}
                    {{html_a "#" (or (and $kv.Value $kv.Value) "/") "" (strAdd (or (and $withSearch (strAdd "data-key='" $kv.Value "'")) "") " onclick=\"setFormAction('" (helper_createLink "story" "batchChangeModule" "moduleID=" $kv.Key) "', 'hiddenwin')\"")}}
                {{- end}}   
              </div>
            </div>
          </div>
          {{- end}}
          {{- if common_hasPriv . "story" "batchChangePlan"}}
          <div class="btn-group dropup">
            <button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.planAB}} <span class="caret"></span></button>
            {{- $withSearch := gt (len .Data.plans) 8}}
            <div class="dropdown-menu search-list {{and $withSearch "search-box-sink"}}" data-ride="searchList">
              {{- if $withSearch}}
              <div class="input-control search-box has-icon-left has-icon-right search-example">
                <input id="planSearchBox" type="search" autocomplete="off" class="form-control search-input">
                <label for="planSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                <a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
              </div>
              {{- end}}
              <div class="list-group">
                {{- range $kv := .Data.plans}}
                    {{html_a "#" $kv.Value "" (strAdd (or (and $withSearch (strAdd "data-key='" $kv.Value "'")) "") " onclick=\"setFormAction('" (helper_createLink "story" "batchChangePlan" "planID=" $kv.Key) "', 'hiddenwin')\"")}}
                {{- end}}
              </div>
            </div>
          </div>
          {{- end}}
          {{- if common_hasPriv . "story" "batchAssignTo"}}
          <div class="btn-group dropup">
            <button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.assignedTo}} <span class="caret"></span></button>
            {{- $withSearch := gt (len .Data.users) 10}}
            {{- $actionLink := helper_createLink "story" "batchAssignTo" "productID=" .Data.productID}}
            {{- html_select "assignedTo" .Data.users "" "class='hidden'"}}
            <div class="dropdown-menu search-list{{and $withSearch " search-box-sink"}}" data-ride="searchList">
              {{- if $withSearch}}
              <div class="input-control search-box has-icon-left has-icon-right search-example">
                <input id="userSearchBox" type="search" autocomplete="off" class="form-control search-input">
                <label for="userSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                <a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
              </div>
              {{- end}}
              <div class="list-group">
              {{- range $kv := .Data.users}}{{if not (or (eq $kv.Key "") (eq $kv.Key "closed"))}}
              {{html_a (strAdd "javascript:$(\"#assignedTo\").val(\"" $kv.Key "\");setFormAction(\"" $actionLink " \", \"hiddenwin\")") $kv.Value "" (or (and $withSearch (strAdd "data-key='" $kv.Value " @" $kv.Key "'")) (strAdd "data-key=' @" $kv.Key "'"))}}
              {{- end}}{{- end}}
              </div>
            </div>
          </div>
          {{end}}
        </div>
        <div class="table-statistic">{{.Data.summary}}</div>
        {{pager_show . "right" "pagerjs"}}
      </div>
    </form>
    {{end}}
  </div>
</div>
<script>
var browseType={{.Data.browseType}},productID= {{.Data.productID}},branch={{.Data.branch}},moduleID = {{.Data.moduleID}};
$('#module{{.Data.moduleID}}').closest('li').addClass('active');

$(function()
{
    // Update table summary text
    var checkedSummary = '{{.Lang.product.checkedSummary}}';
    $('#productStoryForm').table(
    {
        statisticCreator: function(table)
        {
            var $checkedRows = table.getTable().find(table.isDataTable ? '.datatable-row-left.checked' : 'tbody>tr.checked');
            var $originTable = table.isDataTable ? table.$.find('.datatable-origin') : null;
            var checkedTotal = $checkedRows.length;
            if(!checkedTotal) return;

            var checkedEstimate = 0;
            var checkedCase     = 0;
            $checkedRows.each(function()
            {
                var $row = $(this);
                if ($originTable)
                {
                    $row = $originTable.find('tbody>tr[data-id="' + $row.data('id') + '"]');
                }
                var data = $row.data();
                checkedEstimate += data.estimate;
                if(data.cases > 0) checkedCase += 1;
            });
            var rate = Math.round(checkedCase / checkedTotal * 10000) / 100 + '' + '%';
            return checkedSummary.replace('%total%', checkedTotal)
                  .replace('%estimate%', checkedEstimate.toFixed(1))
                  .replace('%rate%', rate);
        }
    });
});
</script>
{{template "footer.html" .}}
