{{template "header.html" .}}
{{template "datatable.fix.html" .}}
<div id="mainMenu" class="clearfix">
  <div id="sidebarHeader">
    <div class="title">
      {{- .Data.moduleName -}}
      {{if .Data.moduleID}}{{if eq .Data.browseType "bymodule"}}{{html_a (helper_createLink "product" "browse" "productID=" .Data.productID "&branch=" .Data.branch "&browseType=" .Data.browseType "&param=0&orderBy=" .Data.orderBy "&recTotal=0&recPerPage=" .Page.PerPage) "<i class='icon icon-sm icon-close'></i>" "" "class='text-muted'"}}{{else}}{{html_a "javascript:removeCookieByKey('storyModule')" "<i class='icon icon-sm icon-close'></i>" "" "class='text-muted'"}}{{end}}{{end}}
    </div>
  </div>
  <div class="btn-toolbar pull-left">
    {{range $menuItem:=.Lang.product.featureBar.browse}}
        {{- if eq $menuItem.Key  "more"}}
            {{- if $.Lang.product.moreSelects}}
                {{- $moreLabel       := $.Lang.common.more}}
                {{- $moreLabelActive := ""}}
                {{- if getValue $.Lang.product.moreSelects $.Data.browseType}}    
                    {{$moreLabel       = strAdd "<span class='text'>" (getValue $.Lang.product.moreSelects $.Data.browseType)}} "</span> <span class='label label-light label-badge'>" $.Page.Total "</span>"}}
                    {{$moreLabelActive = "btn-active-text"}}
                {{- end}}
                <div class="btn-group">
                {{html_a "javascript:;" (strAdd $moreLabel  " <span class='caret'></span>") "" (strAdd "data-toggle='dropdown' class='btn btn-link " $moreLabelActive "'")}}
                <ul class='dropdown-menu'>
                {{range $item := $.Lang.product.moreSelects}}
                    {{- $active := and (or (eq $item.Key $.Data.browseType) "")  "btn-active-text" -}}
                    <li>{{html_a (helper_createLink "product" "browse" "productID=" $.Data.productID "&branch=" $.Data.branch "&browseType=" $item.Key) (strAdd "<span class='text'>" $item.Value "</span>") "" (strAdd "class='btn btn-link " $active "'")}}</li>
                {{end}}
                </ul></div>
            {{end}}
        {{- else}}
            {{- html_a (helper_createLink "product" "browse" "productID=" $.Data.productID "&branch=" $.Data.branch "&browseType=" $menuItem.Key) (strAdd "<span class='text'>" $menuItem.Value "</span>" (and (or (eq $menuItem.Key $.Data.browseType) "") (strAdd "<span class='label label-light label-badge'>" $.Page.Total "</span>")))  (strAdd "id=" $menuItem.Key "Tab' class='btn btn-link"  (and (or (eq $menuItem.Key $.Data.browseType) "") " btn-active-text") )}}
        {{end -}}
    {{end}}
    <a class="btn btn-link querybox-toggle" id='bysearchTab'><i class="icon icon-search muted"></i> {{.Lang.product.searchStory}}</a>
  </div>
  <div class="btn-toolbar pull-right">
    {{common_printIcon . "story" "report" (strAdd "productID=" .Data.productID "&browseType=" .Data.browseType "&branchID=" .Data.branch "&moduleID=" .Data.moduleID) nil "button" "bar-chart muted" }}
    <div class="btn-group">
      <button class="btn btn-link" data-toggle="dropdown"><i class="icon icon-export muted"></i> <span class="text">{{.Lang.common.export }}</span> <span class="caret"></span></button>
      <ul class="dropdown-menu" id='exportActionMenu'>
        {{- $misc  := or (and (common_hasPriv . "story" "export") "class='export'") "class=disabled"}}
        {{- $link  := or (and (common_hasPriv . "story" "export") (helper_createLink "story" "export" "productID=" .Data.productID "&orderBy=" .Data.orderBy "&projectID=0&browseType=" .Data.browseType)) "#"}}
        <li {{if (common_hasPriv . "story" "export")}}{{else}}class='disabled'{{end}}>{{html_a $link .Lang.story.export "" $misc}}</li>
      </ul>
    </div>
    {{if common_hasPriv . "story" "batchCreate"}}{{html_a (helper_createLink "story" "batchCreate" "productID=" .Data.productID "&branch=" .Data.branch "&moduleID=" .Data.moduleID) (strAdd "<i class='icon icon-plus'></i>" .Lang.story.batchCreate) "" "class='btn btn btn-secondary'"}}{{end}}
        {{if common_hasPriv . "story" "create"}}{{html_a (helper_createLink "story" "create" "productID=" .Data.productID "&branch=" .Data.branch "&moduleID=" .Data.moduleID) (strAdd "<i class='icon icon-plus'></i> " .Lang.story.create) "" "class='btn btn-primary'"}}{{end}}
  </div>
</div>
<div id="mainContent" class="main-row fade">
  <div class="side-col" id="sidebar">
    <div class="sidebar-toggle"><i class="icon icon-angle-left"></i></div>
    <div class="cell">
      {{if .Data.moduleTree}}{{else}}
      <hr class="space">
      <div class="text-center text-muted">
        {{.Lang.product.noModule}}
      </div>
      <hr class="space">
      {{end}}
      {{.Data.moduleTree}}
      <div class="text-center">
        {{common_printLink . "tree" "browse" (strAdd "productID=" .Data.productID "&view=story") .Lang.tree.manage "" "class='btn btn-info btn-wide'"}}
        <hr class="space-sm" />
      </div>
    </div>
  </div>
  <div class="main-col">
    <div class="cell{{if eq .Data.browseType "bysearch"}} show{{end}}" id="queryBox"></div>
    {{if eq (len .Data.stories) 0}}
    <div class="table-empty-tip">
      <p>
        <span class="text-muted">{{.Lang.story.noStory}}</span>
        {{if common_hasPriv . "story" "create"}}
        <span class="text-muted">{{.Lang.youCould}}</span>
        {{html_a (helper_createLink "story" "create" "productID=" .Data.productID "&branch=" .Data.branch "&moduleID=" .Data.moduleID) (strAdd "<i class='icon icon-plus'></i> "  .Lang.story.create) "" "class='btn btn-info'"}}
        {{end}}
      </p>
    </div>
    {{else}}
    <form class="main-table table-story skip-iframe-modal" method="post" id='productStoryForm'>
      <div class="table-header fixed-right">
        <nav class="btn-toolbar pull-right"></nav>
      </div>
      <?php
      $datatableId  = .ModuleName . ucfirst($this->methodName);
      $useDatatable = (isset(.Config.datatable->$datatableId->mode) and .Config.datatable->$datatableId->mode == 'datatable');
      $vars         = "productID=$productID&branch=$branch&browseType=$browseType&param=$param&orderBy=%s&recTotal={$pager->recTotal}&recPerPage={$pager->recPerPage}";

      if($useDatatable) include '../../common/view/datatable.html.php';
      $setting = $this->datatable->getSetting('product');
      $widths  = $this->datatable->setFixedFieldWidth($setting);
      $columns = 0;
      ?>
      {{if eq .Data.useDatatable nil}}<div class="table-responsive">{{end}}
      <table class='table has-sort-head{{if .Data.useDatatable}} datatable{{end}}' id='storyList' data-fixed-left-width='{{index .Data.widths "leftWidth"}}' data-fixed-right-width='{{index .Data.widths "rightWidth"}}'>
        <thead>
          <tr>
          <?php
          foreach($setting as $key => $value)
          {
              if($value->show)
              {
                  $this->datatable->printHead($value, $orderBy, $vars);
                  $columns ++;
              }
          }
          ?>
          </tr>
        </thead>
        <tbody>
          {{range $story := .Data.stories}}
          <tr data-id='{{$story.Id}}' data-estimate='{{$story.Estimate}}' data-cases='{{index .Data.storyCases $story.Id}}'>
            {{range  $key,$value := .Data.setting}} $this->story->printCell($value, $story, $users, $branches, $storyStages, $modulePairs, $storyTasks, $storyBugs, $storyCases, $useDatatable ? 'datatable' : 'table'){{end}}
          </tr>
          {{end}}
        </tbody>
      </table>
      {{if eq .Data.useDatatable}}</div>{{end}}
      <div class="table-footer">
        <div class="checkbox-primary check-all"><label>{{.Lang.selectAll}}</label></div>
        <div class="table-actions btn-toolbar">
          <div class='btn-group dropup'>
            <?php
            $canBatchEdit  = common_hasPriv "story" "batchEdit"
            $disabled   = $canBatchEdit ? '' : "disabled='disabled'";
            $actionLink = $this->createLink('story', 'batchEdit', "productID=$productID&projectID=0&branch=$branch");
            ?>
            {{html_commonButton .Lang.edit "data-form-action='$actionLink' $disabled"}}
            <button type='button' class='btn dropdown-toggle' data-toggle='dropdown'><span class='caret'></span></button>
            <ul class='dropdown-menu'>
              <?php
              $class = "class='disabled'";
              $canBatchClose = common_hasPriv "story" "batchClose" && strtolower($browseType) != 'closedbyme' && strtolower($browseType) != 'closedstory';
              $actionLink    = $this->createLink('story', 'batchClose', "productID=$productID&projectID=0");
              $misc = $canBatchClose ? "onclick=\"setFormAction('$actionLink')\"" : $class;
              "<li>" . html_a "#" .Lang.close "" $misc . "</li>";

              if(common_hasPriv "story" "batchReview")
              {
                  "<li class='dropdown-submenu'>";
                  html::a('javascript:;', .Lang.story.review, '', "id='reviewItem'");
                  "<ul class='dropdown-menu'>";
                  unset(.Lang.story.reviewResultList['']);
                  unset(.Lang.story.reviewResultList['revert']);
                  foreach(.Lang.story.reviewResultList as $key => $result)
                  {
                      $actionLink = $this->createLink('story', 'batchReview', "result=$key");
                      if($key == 'reject')
                      {
                          "<li class='dropdown-submenu'>";
                          html_a "#" $result "" "id='rejectItem'"
                          "<ul class='dropdown-menu'>";
                          unset(.Lang.story.reasonList['']);
                          unset(.Lang.story.reasonList['subdivided']);
                          unset(.Lang.story.reasonList['duplicate']);

                          foreach(.Lang.story.reasonList as $key => $reason)
                          {
                              $actionLink = $this->createLink('story', 'batchReview', "result=reject&reason=$key");
                              "<li>";
                              html_a "#" $reason "" "onclick=\"setFormAction('$actionLink','hiddenwin'\"");
                              "</li>";
                          }
                          '</ul></li>';
                      }
                      else
                      {
                        '<li>' . html_a "#" $result "" "onclick=\"setFormAction('$actionLink','hiddenwin'\"") . '</li>';
                      }
                  }
                  '</ul></li>';
              }
              else
              {
                  '<li>' . html::a('javascript:;', .Lang.story.review,  '', $class) . '</li>';
              }

              if(common_hasPriv "story" "batchChangeBranch" and $this->session->currentProductType != 'normal')
              {
                  {{$withSearch := gt (len .Data.branches) 8}}
             
                  "<li class='dropdown-submenu'>";
                  html::a('javascript:;', .Lang.product.branchName[$this->session->currentProductType], '', "id='branchItem'");
                  <div class='dropdown-menu{{if $withSearch}} with-search{{end}}'>
                  "<ul class='dropdown-list'>";
                  foreach($branches as $branchID => $branchName)
                  {
                      $actionLink = $this->createLink('story', 'batchChangeBranch', "branchID=$branchID");
                      "<li class='option' data-key='$branchID'>" . html_a "#" $branchName "" "onclick=\"setFormAction('$actionLink', 'hiddenwin'\"") . "</li>";
                  }
                  '</ul>';
                  if($withSearch) "<div class='menu-search'><div class='input-group input-group-sm'><input type='text' class='form-control' placeholder=''><span class='input-group-addon'><i class='icon-search'></i></span></div></div>";
                  '</div></li>';
              }

              if(common_hasPriv "story" "batchChangeStage")
              {
                  "<li class='dropdown-submenu'>";
                  html::a('javascript:;', .Lang.story.stageAB, '', "id='stageItem'");
                  "<ul class='dropdown-menu'>";
                  foreach(.Lang.story.stageList as $key => $stage)
                  {
                      if(empty($key)) continue;
                      $actionLink = $this->createLink('story', 'batchChangeStage', "stage=$key");
                      "<li>" . html_a "#" $stage "" "onclick=\"setFormAction('$actionLink','hiddenwin'\"") . "</li>";
                  }
                  '</ul></li>';
              }
              else
              {
                  '<li>' . html::a('javascript:;', .Lang.story.stageAB, '', $class) . '</li>';
              }
              ?>
            </ul>
          </div>

          {{if common_hasPriv . "story" "batchChangeModule"}}
          <div class="btn-group dropup">
            <button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.moduleAB}} <span class="caret"></span></button>
            {{$withSearch := gt (len .Data.modules) 8}}
            <div class="dropdown-menu search-list{{and $withSearch " search-box-sink"}}" data-ride="searchList">
              {{if $withSearch}}
              <div class="input-control search-box has-icon-left has-icon-right search-example">
                <input id="moduleSearchBox" type="search" autocomplete="off" class="form-control search-input">
                <label for="moduleSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                <a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
              </div>
              $modulesPinYin = common::convert2Pinyin($modules)
              {{end}}
              <div class="list-group">
                <?php
                foreach($modules as $moduleId => $module)
                {
                    $searchKey = $withSearch ? ('data-key="' . zget($modulesPinYin, $module, '') . '"') : '';
                    $actionLink = $this->createLink('story', 'batchChangeModule', "moduleID=$moduleId");
                    html_a "#" empty($module) ? '/' : $module "" "$searchKey onclick=\"setFormAction('$actionLink', 'hiddenwin'\"");
                }
                ?>
              </div>
            </div>
          </div>
          {{end}}
          {{if common_hasPriv "story" "batchChangePlan"}}
          <div class="btn-group dropup">
            <button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.planAB}} <span class="caret"></span></button>
            <?php
            unset($plans['']);
            $plans      = array(0 => .Lang.null) + $plans;
            {{$withSearch := gt (len .Data.plans) 8}}
            ?>
            <div class="dropdown-menu search-list{{and $withSearch " search-box-sink"}}" data-ride="searchList">
              {{if $withSearch}}
              <div class="input-control search-box has-icon-left has-icon-right search-example">
                <input id="planSearchBox" type="search" autocomplete="off" class="form-control search-input">
                <label for="planSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                <a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
              </div>
              $plansPinYin = common::convert2Pinyin($plans)
              {{end}}
              <div class="list-group">
                <?php
                foreach($plans as $planID => $plan)
                {
                    $searchKey = $withSearch ? ('data-key="' . zget($plansPinYin, $plan, '') . '"') : '';
                    $actionLink = $this->createLink('story', 'batchChangePlan', "planID=$planID");
                    html_a "#" $plan "" "$searchKey onclick=\"setFormAction('$actionLink', 'hiddenwin'\"");
                }
                ?>
              </div>
            </div>
          </div>
          {{end}}

          {{if common_hasPriv . "story" "batchAssignTo"}}
          <div class="btn-group dropup">
            <button data-toggle="dropdown" type="button" class="btn">{{.Lang.story.assignedTo}} <span class="caret"></span></button>
            <?php
            {{$withSearch := gt (len .Data.users) 10}}
            $actionLink = $this->createLink('story', 'batchAssignTo', "productID=$productID");
            html_select "assignedTo" $users "" "class="hidden""
            ?>
            <div class="dropdown-menu search-list{{and $withSearch " search-box-sink"}}" data-ride="searchList">
              {{if $withSearch}}
              $usersPinYin = common::convert2Pinyin($users)
              <div class="input-control search-box has-icon-left has-icon-right search-example">
                <input id="userSearchBox" type="search" autocomplete="off" class="form-control search-input">
                <label for="userSearchBox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                <a class="input-control-icon-right search-clear-btn"><i class="icon icon-close icon-sm"></i></a>
              </div>
              {{end}}
              <div class="list-group">
              {{range $key,$value := .data.users}}
              <?php
              if(empty($key) or $key == 'closed') continue;
              $searchKey = $withSearch ? ('data-key="' . zget($usersPinYin, $value, '') . " @$key\"") : "data-key='@$key'";
              html_a "javascript:$(\"#assignedTo\".val(\"$key\");setFormAction(\"$actionLink\", \"hiddenwin\")", $value, '', $searchKey);
              ?>
              {{end}}
              </div>
            </div>
          </div>
          {{end}}
        </div>
        <div class="table-statistic">{{.Data.summary}}</div>
        {{pager_show "right" "pagerjs"}}
      </div>
    </form>
    {{end}}
  </div>
</div>
<script>
var browseType={{.Data.browseType}},productID= {{.Data.productID}},branch={{.Data.branch}},moduleID = {{.Data.moduleID}};
$('#module{{.Data.moduleID}}').closest('li').addClass('active');

$(function()
{
    // Update table summary text
    var checkedSummary = '{{.Lang.product.checkedSummary}}';
    $('#productStoryForm').table(
    {
        statisticCreator: function(table)
        {
            var $checkedRows = table.getTable().find(table.isDataTable ? '.datatable-row-left.checked' : 'tbody>tr.checked');
            var $originTable = table.isDataTable ? table.$.find('.datatable-origin') : null;
            var checkedTotal = $checkedRows.length;
            if(!checkedTotal) return;

            var checkedEstimate = 0;
            var checkedCase     = 0;
            $checkedRows.each(function()
            {
                var $row = $(this);
                if ($originTable)
                {
                    $row = $originTable.find('tbody>tr[data-id="' + $row.data('id') + '"]');
                }
                var data = $row.data();
                checkedEstimate += data.estimate;
                if(data.cases > 0) checkedCase += 1;
            });
            var rate = Math.round(checkedCase / checkedTotal * 10000) / 100 + '' + '%';
            return checkedSummary.replace('%total%', checkedTotal)
                  .replace('%estimate%', checkedEstimate.toFixed(1))
                  .replace('%rate%', rate);
        }
    });
});
</script>
{{template "footer.html" .}}
