{{template "header.html" .}}
{{template "kindeditor.html" .}}
{{js_import (strAdd .Config.common.common.jsRoot "misc/date.js")}}
<div id='mainContent' class='main-content'>
  <div class='center-block'>
    <div class='main-header'>
      <h2>{{html_a (helper_createLink "productplan" "view" "id=" .Data.plan.Id) .Data.plan.Title "" "title='" .Data.plan.Title "'"}}</strong></h2>
    </div>
    <form class='load-indicator main-form form-ajax' method='post' target='hiddenwin' id='dataform'>
      <table class='table table-form'>
        <tbody>
          <tr>
            <th>{{.Lang.productplan.product}}</th>
            <td class='muted'>{{.Data.product.Name}}</td><td></td><td></td>
          </tr>
          {{if ne .Data.product.Type "normal"}}
          <tr>
            <th>{{printf .Lang.product.branch (index .Lang.product.branchName .Data.product.Type)}}</th>
            <td>{{html_select "branch" .Data.branches .Data.plan.Branch "class='form-control'"}}</td><td></td><td></td>
          </tr>
          {{end}}
          <tr>
            <th>{{.Lang.productplan.title}}</th>
            <td>{{html_input "title" .Data.plan.Title "class='form-control' autocomplete='off' required"}}</td><td></td><td></td>
          </tr>
          <tr>
            <th>{{.Lang.productplan.begin}}</th>
            <td>{{html_input "begin" (or (and (ne .Data.plan.Begin  "2030-01-01") .Data.plan.Begin) "") "class='form-control form-date'"}}</td>
            <td>
              <div class='checkbox-primary'>
                <input type='checkbox' id='future' name='future' value='1' {{if and (eq .Data.plan.Begin "2030-01-01") (eq .Data.plan.End "2030-01-01")}} checked='checked'{{end}} />
                <label for='future'>{{.Lang.productplan.future}}</label>
              </div>
            </td>
          </tr>
          <tr>
            <th>{{.Lang.productplan.end}}</th>
            <td>{{html_input "end" (or (and (ne .Data.plan.End "2030-01-01") .Data.plan.End) "") "class='form-control form-date'"}}</td>
            <td colspan='2'>{{html_radio "delta" .Lang.productplan.endList "" "onclick='computeEndDate(this.value)'"}}</td>
          </tr>
          <tr>
            <th>{{.Lang.productplan.desc}}</th>
            <td colspan='3'>{{html_textarea "desc" (bbcode2html .Data.plan.Desc true false) "rows='10' class='form-control kindeditor' hidefocus='true'"}}</td>
          </tr>
          <tr>
            <td colspan='4' class='text-center form-actions'>
              {{html_submitButton .}}
              {{html_backButton . "" "" "" (helper_createLink "productplan" "browse" "productID=" .Data.product.Id)}}
              {{html_hidden "product" .Data.product.Id}}
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script type="text/javascript">var weekend={{.Config.project.common.weekend}};</script>
{{template "footer.html" .}}
