<div class="dropdown">
  <style>
  #formSetting {min-width: 300px;}
  #formSettingForm .checkboxes {padding: 10px 3px;}
  #formSettingForm .checkbox-primary {width: 50%; float: left; margin: 3px 0;}
  #formSetting .btn {margin-right: 8px;}
  </style>
  <button type="button" title="{{.Lang.customField}}" class="btn btn-link" data-toggle="dropdown"><i class="icon icon-cog"></i></button>
  <div class="dropdown-menu pull-right" id="formSetting">
    <form class='with-padding load-indicator' id='formSettingForm' method='post' target='hiddenwin' action='{{.Data.customLink}}'>
      <div>{{.Lang.common.customField}}</div>
      <div class="clearfix checkboxes">
        {{html_checkbox "fields" .Data.customFields .Data.showFields}}
      </div>
      <div>
        <button type="submit" class="btn btn-primary" data-loading="{{.Lang.common.submitting}}">{{.Lang.common.save}}</button>
        {{html_commonButton .Lang.common.cancel "" "btn close-dropdown"}}
        {{html_a .Data.customLink .Lang.common.restore "hiddenwin" "class='btn'"}}
      </div>
    </form>
  </div>
  <script>
  var $formSetting = $('#formSetting');
  $formSetting.on('click', '.close-dropdown', function()
  {
      $formSetting.parent().removeClass('open');
  }).on('click', function(e){e.stopPropagation()});
  </script>
</div>
