<!DOCTYPE html>
<html lang='{{.App.ClientLang}}'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>{{.Data.title}} - {{.Lang.common.jachunPM}}</title>
{{- if .Config.common.common.debug}}
  {{css_import (strAdd .Config.common.common.themeRoot  "zui/css/min.css?t=")}}
  {{css_import (strAdd .Config.common.common.defaultTheme  "style.css?t=")}}
  {{css_import .App.langTheme}}
  {{if eq (strpos .Config.common.common.langTheme "default") -1}}{{css_import (strAdd .App.ClientTheme   "style.css?t=")}}{{end}}
  {{js_import (strAdd .Config.common.common.jsRoot  "jquery/lib.js")}}
  {{js_import (strAdd .Config.common.common.jsRoot  "zui/min.js?t=")}}
  {{js_import (strAdd .Config.common.common.jsRoot  "my.full.js?t=")}}
{{- else}}
  {{js_import (strAdd .Config.common.common.jsRoot  "all.js")}}
  {{css_import (strAdd .Config.common.common.defaultTheme .App.ClientLang "." .App.ClientTheme ".css")}}  
{{- end}}
{{- if .Data.pageCSS}}<style>{{.Data.pageCSS}}</style>{{end}}
  <link rel='icon' href='{{strAdd .Config.common.common.webRoot "favicon.ico"}}' type='image/x-icon' />
  <link rel='shortcut icon' href='{{strAdd .Config.common.common.webRoot "favicon.ico"}}' type='image/x-icon' />
<!--[if lt IE 10]>
{{- js_import (strAdd .Config.common.common.webRoot  "jquery/placeholder/min.js") }}
<![endif]-->
<style type="text/css">{{getTemplateCss . .App.TemplateName}}</style>
<script>config.onlybody = {{.App.onlybody}};
config.currentMethod='{{.App.methodName}}';
config.currentModule='{{.App.moduleName}}';
config.webRoot="/";
config.cookieLife=30;
{{if .Data.queryID}}config.queryID='{{.Data.queryID}}';{{end}}
var lang={};
lang.submitting = '{{.Lang.common.loading}}';
lang.save       = '{{.Lang.common.save}}';
lang.timeout    = '{{.Lang.common.timeout}}';
{{- $currentConfig := (getValue (getValue .Config .App.moduleName) .App.methodName)}}
{{- if getValue $currentConfig "requiredFields"}}
config.requiredFields={{getValue $currentConfig "requiredFields"}};
{{- end}}
window.closetrigger=function(reload){
  $('#triggerModal').data('zui.modaltrigger').close()
  if(reload){
    window.location.reload();
  }
}
</script>
</head>
<body>