{{template "header.lite.html" .}}
{{template "chosen.html" .}}
{{file_getCustomExport $}}
<style>
#customFields .panel {border: 1px solid #ddd; background: #fafafa; margin: 0;}
#customFields .panel-actions {padding: 0;}
#customFields .panel {position: relative;}
#customFields .panel:before, #customFields .panel:after {content: ' '; display: block; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #f1f1f1 transparent; position: absolute; left: 315px; top: -9px;}
#customFields .panel:before {border-color: transparent transparent #ddd transparent; top: -10px;}
</style>
<script>
function setDownloading()
{
    if($.browser.opera) return true;   // Opera don't support, omit it.

    var $fileName = $('#fileName');
    if($fileName.val() === '') $fileName.val('{{.Lang.file.untitled}}');

    $.cookie('downloading', 0);
    time = setInterval("closeWindow()", 300);
    $('#mainContent').addClass('loading');
    return true;
}

function closeWindow()
{
    if($.cookie('downloading') == 1)
    {
        $('#mainContent').removeClass('loading');
        parent.$.closeModal();
        $.cookie('downloading', null);
        clearInterval(time);
    }
}
function switchEncode(fileType)
{
    var $encode = $('#encode');
    if(fileType != 'csv') $encode.val('utf-8').attr('disabled', 'disabled');
    else $encode.removeAttr('disabled');
    $encode.trigger('chosen:updated');
}

function saveTemplate()
{
    var $inputGroup = $('#customFields div.input-group');
    var $publicBox  = $inputGroup.find('input[id^="public"]');
    var title       = $inputGroup.find('#title').val();
    var content     = $('#customFields #exportFields').val();
    var isPublic    = ($publicBox.size() > 0 && $publicBox.prop('checked')) ? $publicBox.val() : 0;
    if(!title || !content) return;
    saveTemplateLink = '{{helper_createLink "file" "ajaxSaveTemplate" "module=" .App.moduleName}}';
    $.post(saveTemplateLink, {title:title, content:content, public:isPublic}, function(data)
    {
        var defaultValue = $('#tplBox #template').val();
        $('#tplBox').html(data);
        if(data.indexOf('alert') >= 0) $('#tplBox #template').val(defaultValue);
        $("#tplBox #template").chosen().on('chosen:showing_dropdown', function()
        {
            var $this = $(this);
            var $chosen = $this.next('.chosen-container').removeClass('chosen-up');
            var $drop = $chosen.find('.chosen-drop');
            $chosen.toggleClass('chosen-up', $drop.height() + $drop.offset().top - $(document).scrollTop() > $(window).height());
        });
        $inputGroup.find('#title').val(title);
    });
}

/* Set template. */
function setTemplate(templateID)
{
    var $template=  $('#tplBox #template' + templateID);
    var exportFields = $template.size() > 0 ? $template.html() : defaultExportFields;
    exportFields = exportFields.split(',');
    $('#exportFields').val('');

    var optionHtml = '';
    for(i in exportFields)
    {
        $selectedOption = $('#exportFields').find('option[value="' + exportFields[i] + '"]');
        optionHtml += $selectedOption.attr('selected', 'selected').prop('outerHTML');
        $selectedOption.remove();
    }
    $('#exportFields option').each(function(){optionHtml += $(this).removeAttr('selected').prop('outerHTML')});
    $('#exportFields').html(optionHtml).trigger("chosen:updated");
}

/* Delete template. */
function deleteTemplate()
{
    var templateID = $('#tplBox #template').val();
    if(templateID == 0) return;
    hiddenwin.location.href = createLink('file', 'ajaxDeleteTemplate', 'templateID=' + templateID);
    $('#tplBox #template').find('option[value="'+ templateID +'"]').remove();
    $('#tplBox #template').trigger("chosen:updated");
    $('#tplBox #template').change();
}

/**
 * Toggle export template box.
 * 
 * @access public
 * @return void
 */
function setExportTPL()
{
    $('#customFields').toggleClass('hidden');
}

$(document).ready(function()
{
    $(document).on('change', '#template', function()
    {
        $('#title').val($(this).find('option:selected').text());
    });

    $('#fileType').change();
    {{if cookie . "checkedItem"}}
    setTimeout(function()
    {
        $('#exportType').val('selected').trigger('chosen:updated');
    }, 150);
    {{end}}

    if($('#customFields #exportFields').length > 0)
    {
        $('#customFields #exportFields').change(function()
        {
            setTimeout(function()
            {
                var optionHtml = '';
                var selected   = ',';
                $('#customFields #exportFields_chosen .chosen-choices li.search-choice').each(function(i)
                {
                    index = $(this).find('.search-choice-close').data('option-array-index');
                    optionHtml += $('#exportFields option').eq(index).attr('selected', 'selected').prop("outerHTML");
                    $(this).find('.search-choice-close').attr('data-option-array-index', i);
                    selected += index + ',';
                })
                $('#exportFields option').each(function(i)
                {
                    if(selected.indexOf(',' + i + ',') < 0) optionHtml += $(this).removeAttr('selected').prop("outerHTML");
                })
                $('#exportFields').html(optionHtml).trigger('chosen:updated');
            }, 100);
        })
    }
});
</script>
<main id="main">
  <div class="container">
    <div id="mainContent" class='main-content load-indicator'>
      <div class='main-header'>
        <h2>{{.Lang.common.export}}</h2>
      </div>
      <form class='main-form' method='post' target='hiddenwin'>
        <table class="table table-form">
          <tbody>
            <tr>
              <th class='w-120px'>{{.Lang.file.fileName}}</th>
              <td class="w-300px">{{html_input "fileName"  $.Data.fileName (strAdd "class='form-control' autofocus placeholder='" .Lang.file.untitled "'")}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.file.extension}}</th>
              <td>{{html_select "fileType"  .Lang.common.exportFileTypeList ""  "onchange=switchEncode(this.value) class='form-control'"}}</td>
            </tr>
            <tr>
              <th>{{.Lang.file.encoding}}</th>
              <td>{{html_select "encode"  (getValue .Config.charsets.common .App.ClientLang) "utf-8"  "class='form-control'"}}</td>
            </tr>
            <tr>
              <th>{{.Lang.file.exportRange}}</th>
              <td>
                {{html_select "exportType"  .Lang.common.exportTypeList "all"  "class='form-control'"}}
              </td>
            </tr>
            {{if $.Data.isCustomExport}}
            <tr>
              <th>{{.Lang.file.tplTitleAB}}</th>
              <td id="tplBox">{{fetch . "file" "buildExportTPL" (strAdd "module=" .App.moduleName)}}</td>
              <td>
                <button type='button' onclick='setExportTPL()' class='btn'>{{.Lang.file.setExportTPL}}</button>
              </td>
            </tr>
            <tr id='customFields' class="hidden">
              <th></th>
              <td colspan="2">
                <div class='panel'>
                  <div class='panel-heading'>
                    <strong>{{.Lang.file.exportFields}}</strong>
                    <div class="panel-actions btn-toolbar">
                      <button type="button" class="btn btn-link" onclick="setExportTPL()"><i class="icon icon-close icon-sm muted"></i></button>
                    </div>
                  </div>
                  <div class='panel-body'>
                    <p>{{html_select "exportFields[]"  $.Data.exportFieldPairs  $.Data.selectedFields  "class='form-control chosen' multiple"}}</p>
                    <div>
                      <div class='input-group'>
                        <span class='input-group-addon'>{{.Lang.file.tplTitle}}</span>
                        {{html_input "title"  .Lang.file.defaultTPL  "class='form-control'"}}
                        {{if common_hasPriv . "file" "setPublic"}}
                        <span class='input-group-addon'>{{html_checkbox "public" (appendKeyValueStr "1" .Lang.common.public)}}</span>
                        {{end}}
                        <span class='input-group-btn'><button id='saveTpl' type='button' onclick='saveTemplate()' class='btn btn-primary'>{{.Lang.common.save}}</button></span>
                        <span class='input-group-btn'><button type='button' onclick='deleteTemplate()' class='btn'>{{.Lang.common.delete}}</button></span>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {{end}}
            <tr>
              <th></th>
              <td>
                {{html_submitButton . .Lang.common.export   "btn btn-primary" "onclick='setDownloading()'"}}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</main>
{{template "footer.lite.html" .}}
