{{template "header.html" .}}
  <style>
  #menuActions{float:right !important; margin-top: -60px !important;}
  .input-group-required > .required::after, .required-wrapper.required::after {top:12px !important;}
  .modal-body .table {margin-bottom:0px !important;}
  </style>
  {{.Data.featurebar}}

{{template "datepicker.html" .}}
{{template "chosen.html" .}}
<div class='with-side'>
  <div class='side'>
    <nav class='menu leftmenu'>
      <ul class='nav nav-primary'>
        <li class='active'>{{common_printLink $ "attend" "settings" "" .Lang.attend.settings}}</li>
        <li>{{common_printLink $ "attend" "personalsettings" "" .Lang.attend.personalSettings}}</li> 
        <li>{{common_printLink $ "dept" "browse" "" .Lang.attend.setManager}}</li>
      </ul>
    </nav>
  </div>
  <div class='main'>
    <div class='panel'>
      <div class='panel-heading'>{{.Lang.attend.settings}}</div>
      <div class='panel-body'>
        <form id='ajaxForm' class='form-ajax' method='post'>
          <table class='table table-form table-condensed w-p70'>
            <tr>
              <th class='w-160px'>{{.Lang.attend.beginDate.company}}</th>
              <td class='w-500px'>{{html_input "beginDate"  $.Data.beginDate  "class='form-control form-date'"}}</td>
              <td style='padding-left: 10px'><a data-toggle='tooltip' title='{{.Lang.attend.note.beginDate}}'><i class='icon-question-sign'></i></a></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.notAllowSignInLimit}}</th>
              <td>{{html_input "notAllowSignInLimit"  $.Data.notAllowSignInLimit  "class='form-control form-time'"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.signInLimit}}</th>
              <td>{{html_input "signInLimit"  $.Data.signInLimit  "class='form-control form-time'"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.signOutLimit}}</th>
              <td>
                  {{html_input "signOutLimit"  $.Data.signOutLimit  "class='form-control form-time'"}}
              </td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.notAllowSignOutLimit}}</th>
              <td>{{html_input "notAllowSignOutLimit"  $.Data.notAllowSignOutLimit  "class='form-control form-time'"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.workingHours}}</th>
              <td>{{html_input "workingHours"  $.Data.workingHours  "class='form-control'"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.workingDays}}</th>
              <td>{{html_select "workingDays"  .Lang.attend.workingDaysList  $.Data.workingDays  "class='form-control chosen' multiple"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.halfAbsent}}</th>
              <td>{{html_input "halfAbsendMin"  $.Data.halfAbsendMin  "class='form-control'"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.allAbsent}}</th>
              <td>{{html_input "absendMin"  $.Data.absendMin "class='form-control'"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.reviewedBy}}</th>
              <td>{{html_select "reviewedBy"  $.Data.users  $.Data.reviewedBy  "class='form-control chosen'"}}</td>
              <td></td>
            </tr>
 
            <tr>
              <th>{{.Lang.attend.noAttendUsers}}</th>
              <td>{{html_select "noAttendUsers"  $.Data.users  $.Data.noAttendUsers  "class='form-control chosen' multiple"}}</td>
              <td></td>
            </tr>
            <tr>
              <th>{{.Lang.attend.noAttendDepts}}</th>
              <td>{{html_select "noAttendDepts"  $.Data.depts  $.Data.noAttendDepts  "class='form-control chosen' multiple"}}</td>
              <td></td>
            </tr>
         
            <tr><th></th><td colspan='2'>{{html_submitButton .}}</td></tr>
          </table>
        </form>
      </div>
    </div>

  </div>
</div>

{{template "footer.html" .}}
