.with-side .side{left: 20px; position: absolute; width: 140px;}
.with-side .side .menu.affix{top:100px; margin-left:0;}
.with-side .main{padding-left: 160px; margin-right: 0;}

.tree > li {margin-right: 0;}
.tree li.active > a{font-weight: bold;}
.outer .with-side .side, .outer .with-side .side + .main{visibility: visible;}
#featurebar {margin: -8px 0 10px;}
#featurebar .nav:after {clear:left;}
#featurebar .nav li {float:left; margin-right:10px;padding:6px;}
#featurebar .nav li a {padding:0px;}
#featurebar .nav li.active a{top: -1px; display: inline-block; font-weight: 700; color: #006af1;}
#featurebar .nav li.active a:after {position: absolute;bottom: -5px;display: block;width: 100%;content: ' ';border-bottom: 2px solid #006af1;}
#main #menuActions {margin-top: -40px !important;}
.with-side .side{left:auto;}
.icon-remove:before{content:"\e90d";}
.with-side .side .panel .panel-body{padding:10px;}

.tablesorter thead > tr > th > a {position: relative; display: inline-block; padding-right: 16px; color: #3c4353;}
.tablesorter thead > tr > th > a:after, .tablesorter thead > tr > th > a:before {position: absolute; top: 0; right: 0; font-family: ZentaoIcon; font-size: 14px; font-style: normal; font-weight: 400; font-variant: normal; line-height: 1.1; color: #3c4353; text-transform: none; content: "\f0de"; opacity: .5;}
.tablesorter thead > tr > th > a:after{content: "\f0dd";}
.tablesorter thead > tr > th > a.sort-down, .tablesorter thead > tr > th > a.sort-up, .tablesorter thead > tr > th > a:hover { color: #006af1; text-decoration: none;}
.tablesorter thead > tr > th > a.sort-down:after, .tablesorter thead > tr > th > a.sort-up:before, .tablesorter thead > tr > th > a:hover:after, .tablesorter thead > tr > th > a:hover:before { color: #006af1; opacity: 1;}
.table-bordered td, .table-bordered th {border: 1px solid #ddd !important;}
.table-data tbody > tr >td {padding-right:8px !important;}
