{{template "header.html" .}}
<div id="mainMenu" class="clearfix">
  <div class="btn-toolbar pull-left">
    <a href="javascript:history.go(-1)" class="btn btn-secondary">
      <i class="icon icon-back icon-sm"></i> {{.Lang.common.goback}}
    </a>
    <div class="divider"></div>
    <div class="page-title">
      <span class="text" title='{{if eq .Data.viewType "line"}}{{else}}{{.Data.root.Name}}{{end}}'>
        {{if eq .Data.viewType "doc"}}
            {{.Lang.doc.manageType}}{{.Lang.common.colon}}{{.Data.root.Name}}
        {{else if eq .Data.viewType "line"}}
            {{.Lang.tree.manageLine}}
        {{else}}
            {{.Lang.tree.common}}{{.Lang.common.colon}}{{.Data.root.Name}}
        {{end}}
      </span>
    </div>
  </div>
</div>
<div id="mainContent" class="main-row">
  <div class="side-col col-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">{{.Data.title}}</div>
      </div>
      <div class="panel-body">
        <ul id='modulesTree' data-name='tree-{{.Data.viewType}}'></ul>
      </div>
    </div>
  </div>
  <div class="main-col col-8">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          {{if gt (strpos .Data.viewType "doc") -1}}{{.Lang.doc.manageType}}{{else}}{{index .Lang.tree .Data.manageChild}}{{end}}
        </div>
      </div>
      <div class="panel-body">
        <form id='childrenForm' class='form-ajax' method='post' target='hiddenwin' action='{{helper_createLink "tree" "manageChild" "root=" .Data.rootID "&viewType=" .Data.viewType}}'>
          <table class='table table-form table-auto'>
            <tr>
              {{if ne .Data.viewType "line"}}
              <td class="text-middle text-right with-padding">
                <span>{{html_a (helper_createLink "tree" "browse" "root=" .Data.rootID "&viewType=" .Data.viewType) (or .Data.root.Name "")}}<i class='icon icon-angle-right muted'></i></span>
                {{range $module := .Data.parentModules}}
                    <span>{{html_a (helper_createLink "tree" "browse" "root=" $.Data.rootID "&viewType=" $.Data.viewType "&moduleID=" $module.Id) $module.Name}} <i class='icon icon-angle-right muted'></i></span>
                {{end}}
              </td>
              {{end}}
              <td>
                <div id='sonModule'>
                  
                  {{range $sonModule:= .Data.sons}}
                  {{$disabled := or (and (eq $sonModule.Type $.Data.viewType) "") "disabled"}}
                  <div class="table-row row-module">
                    <div class="table-col col-module">{{html_input (strAdd "modules[id" $sonModule.Id "]") $sonModule.Name (strAdd "class='form-control' autocomplete='off'" $disabled)}}</div>
                    {{if $.Data.hasBranch}}
                    <div class="table-col col-module">{{html_select (strAdd "branch[id" $sonModule.Id "]") $.Data.branches $sonModule.Branch "class='form-control' disabled"}}</div>
                    {{end}}
                    <div class="table-col col-shorts">{{html_input (strAdd "shorts[id" $sonModule.Id "]") $sonModule.Short (strAdd "class='form-control' placeholder='" .Lang.tree.short "' $disabled autocomplete='off'")}}{[html_hidden (strAdd "order[id" $sonModule.Id "]") $sonModule.Order}}</div>
                    <div class="table-col col-actions">
                      <button type="button" class="btn btn-link btn-icon btn-add" onclick="addItem(this"><i class="icon icon-plus"></i></button>
                    </div>
                  </div>
                  {{end}}
                  {{range genlist 0 5}}
                  <div class="table-row row-module row-module-new">
                    <div class="table-col col-module">{{html_input "modules" "" (strAdd "class='form-control' placeholder='" $.Data.name "' autocomplete='off'")}}</div>
                    {{if $.Data.hasBranch}}
                    <div class="table-col col-module">{{html_select "branch" $.Data.branches $.Data.branch "class='form-control'"}}</div>
                    {{end}}
                    <div class="table-col col-shorts">{{html_input "shorts" "" (strAdd "class='form-control' placeholder='" $.Lang.tree.short "' autocomplete='off'")}}</div>
                    <div class="table-col col-actions">
                      <button type="button" class="btn btn-link btn-icon btn-add" onclick="addItem(this)"><i class="icon icon-plus"></i></button>
                      <button type="button" class="btn btn-link btn-icon btn-delete" onclick="deleteItem(this)"><i class="icon icon-close"></i></button>
                    </div>
                  </div>
                  {{end}}
                </div>

                <div id="insertItemBox" class="template">
                  <div class="table-row row-module row-module-new">
                    <div class="table-col col-module">{{html_input "modules" "" (strAdd "class='form-control' placeholder='" $.Data.name "' autocomplete='off'")}}</div>
                    {{if $.Data.hasBranch}}
                    <div class="table-col col-module">{{html_select "branch" $.Data.branches $.Data.branch "class='form-control'"}}</div>
                    {{end}}
                    <div class="table-col col-shorts">{{html_input "shorts" "" (strAdd "class='form-control' placeholder='" .Lang.tree.short "' autocomplete='off'")}}</div>
                    <div class="table-col col-actions">
                      <button type="button" class="btn btn-link btn-icon btn-add" onclick="addItem(this)"><i class="icon icon-plus"></i></button>
                      <button type="button" class="btn btn-link btn-icon btn-delete" onclick="deleteItem(this)"><i class="icon icon-close"></i></button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              {{if ne .Data.viewType "line"}}
              <td></td>
              {{end}}
              <td colspan="2" class="form-actions">
                {{html_submitButton .}}
                {{html_a "javascript:history.go(-1)" .Lang.common.goback "" "class='btn btn-wide'"}}
                {{html_hidden "parentModuleID" (string .Data.currentModuleID)}}
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var viewType='{{.Data.viewType}}'
$(function()
{
    var data = $.parseJSON('{{.Data.tree}}');
    var options =
    {
        initialState: 'preserve',
        data: data,
        sortable:
        {
            lazy: true,
            nested: true,
            canMoveHere: function($ele, $target)
            {
                if($ele && $target && $ele.parent().closest('li').attr('data-id') !== $target.parent().closest('li').attr('data-id')) return false;
            }
        },
        itemCreator: function($li, item)
        {
            var link = (item.id !== undefined && item.type != 'line') ? ('<a href="' + createLink('tree', 'browse', 'rootID={{.Data.rootID}}&viewType={{.Data.viewType}}&moduleID={0}&branch={1}'.format(item.id, item.branch)) + '">' + item.name + '</a>') : ('<span class="tree-toggle">' + item.name + '</span>');
            var $toggle = $('<span class="module-name" data-id="' + item.id + '">' + link + '</span>');
            if(item.type === 'bug') $toggle.append('&nbsp; <span class="text-muted">[B]</span>');
            if(item.type === 'case') $toggle.append('&nbsp; <span class="text-muted">[C]</span>');
            $li.append($toggle);
            if(item.nodeType || item.type) $li.addClass('tree-item-' + (item.nodeType || item.type));
            $li.toggleClass('active', {{.Data.currentModuleID }} === item.id);
            return true;
        },
        actions:
        {
            sort:
            {
                title: '{{.Lang.tree.dragAndSort }}',
                template: '<a class="sort-handler"><i class="icon-move"></i></a>'
            },
            edit:
            {
                linkTemplate: '{{helper_createLink "tree" "edit" "moduleID={0}&type=" .Data.viewType}}',
                title: '{{.Lang.tree.edit }}',
                template: '<a><i class="icon-edit"></i></a>'
            },
            "delete":
            {
                linkTemplate: '{{helper_createLink "tree" "delete" "rootID=" .Data.rootID "&moduleID={0}"}}',
                title: '{{.Lang.tree.delete }}',
                template: '<a><i class="icon-close"></i></a>'
            },
            subModules:
            {
                linkTemplate: '{{helper_createLink "tree" "browse" "rootID=" .Data.rootID "&viewType=" .Data.viewType "&moduleID={0}&branch={1}"}}',
                title: '{{if ne .Data.viewType "line"}}{{if gt (strpos .Data.viewType "doc") -1}}{{.Lang.doc.childType}}{{else}}{{.Lang.tree.child}}{{end}}{{end}}',
                template: '<a>{{if ne .Data.viewType "line"}}<i class="icon-treemap-alt"></i>{{end}}</a>',
            }
        },
        action: function(event)
        {
            var action = event.action, $target = $(event.target), item = event.item;
            if(action.type === 'edit')
            {
                new $.zui.ModalTrigger({
                    type: 'ajax',
                    url: action.linkTemplate.format(item.id),
                    keyboard: true
                }).show();
            }
            else if(action.type === 'delete')
            {
                window.open(action.linkTemplate.format(item.id), 'hiddenwin');
            }
            else if(action.type === 'sort')
            {
                var orders = {};
                $('#modulesTree').find('li:not(.tree-action-item)').each(function()
                {
                    var $li = $(this);
                    var item = $li.data();
                    orders['orders[' + item.id + ']'] = $li.attr('data-order') || item.order;
                });
                $.post('{{helper_createLink "tree" "updateOrder" "rootID=" .Data.rootID "&viewType=" .Data.viewType}}', orders).error(function()
                {
                    bootbox.alert(lang.timeout);
                });
            }
            else if(action.type === 'subModules')
            {
                window.location.href = action.linkTemplate.format(item.id, item.branch);
            }
        }
    };

    {{if not (common_hasPriv . "tree" "updateorder")}}options.actions["sort"] = false;{{end}}
    {{if not (common_hasPriv . "tree" "edit")}}options.actions["edit"] = false;{{end}}
    {{if not (common_hasPriv . "tree" "delete")}}options.actions["delete"] = false;{{end}}

    var $tree = $('#modulesTree').tree(options);

    var tree = $tree.data('zui.tree');
    if({{.Data.currentModuleID }})
    {
        var $currentLi = $tree.find('.module-name[data-id=' + {{.Data.currentModuleID }} + ']').closest('li');
        if($currentLi.length) tree.show($currentLi);
    }

    $tree.on('mouseenter', 'li:not(.tree-action-item)', function(e)
    {
        $('#modulesTree').find('li.hover').removeClass('hover');
        $(this).addClass('hover');
        e.stopPropagation();
    });

    $('#subNavbar > ul > li > a[href*=tree][href*=browse]').not('[href*={{.Data.viewType}}]').parent().removeClass('active');
    if(window.config.viewType == 'line') $('#modulemenu > .nav > li > a[href*=product][href*=all]').parent('li[data-id=all]').addClass('active');
});
</script>
{{template "footer.html" .}}

