{{if .Data.contactLists -}}
{{html_select "contactListMenu" .Data.contactLists "" "class='form-control chosen' onchange=\"setMailto('mailto', this.value)\""}}
{{- else}}
    <span class='input-group-btn'>
    <a title='{{.Lang.user.contacts.manage}}' href='{{helper_createLink "my" "managecontacts" "listID=0&mode=new" true}}' target='_blank' data-icon='cog' data-title='{{.Lang.user.contacts.manage}}' class='btn btn-icon iframe'><i class='icon icon-cog'></i></a>
    </span>
  
{{end}}
<style>
#contactListMenu + .chosen-container {min-width: 100px;}
td > #mailto + .chosen-container .chosen-choices {border-radius: 2px 2px 0 0;}
td > #mailto + .chosen-container + #contactListMenu + .chosen-container > .chosen-single {border-radius: 0 0 2px 2px; border-top-width: 0; padding-top: 6px;}
#contactListMenu + .chosen-container.chosen-container-active > .chosen-single {border-top-width: 1px!important; padding-top: 5px!important;}
</style>
