{{template "header.html" .}}
{{template "kindeditor.html" .}}
<div id='mainContent' class='main-content'>
  <div class='center-block'>
    <div class='main-header'>
      <h2>
        <span class='label label-id'>{{$.Data.task.Id}}</span>
        {{if $.App.onlybody}}<span title='{{$.Data.task.Name}}'>{{$.Data.task.Name}}</span>{{else}}{{html_a (helper_createLink "task" "view"  "task=" $.Data.task.Id)  $.Data.task.Name}}{{end}}
        {{if not $.App.onlybody}}
        <small> {{.Lang.common.arrow}}{{.Lang.task.activate}}</small>
        {{end}}
      </h2>
    </div>
    
    <form method='post' enctype='multipart/form-data' target='hiddenwin'>
      <table class='table table-form'>
        <tr>
          <th class='w-70px'>{{.Lang.task.assignedTo}}</th>
          <td class='w-p25-f'>{{html_select "assignedTo"  $.Data.members  $.Data.task.AssignedTo  "class='form-control chosen'"}}</td>
          <td></td>
        </tr>
        <tr>
                <th>{{.Lang.task.mailto}}</th>
                <td>
                  <div class='input-group'>
                    {{html_select "mailto"  $.Data.members $.Data.task.Mailto "class='form-control' multiple"}}
                    {{fetch . "my" "buildContactLists"}}
                  </div>
                </td>
              </tr>
        <tr>
          <th>{{.Lang.task.left}}</th>
          <td>
            <div class='input-group'>
              {{html_input "left" ""  "class='form-control' autocomplete='off'"}}
              <span class='input-group-addon'>{{.Lang.task.hour}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <th>{{.Lang.common.comment}}</th>
          <td colspan='2'>{{html_textarea "comment" ""  "rows='6' class='w-p98'"}}</td>
        </tr>
        <!--<tr>
          <th>{{.Lang.common.files}}</th>
          <td colspan='3'>{{fetch . "file" "buildform"  "fileCount=1&percent=0.9&filesName=files&labelsName=labels&action=examine"}}</td>
        </tr>-->
        <tr>
          <td colspan='3' class='text-center'>
           {{html_submitButton . .Lang.task.activate}}
           {{html_linkButton . .Lang.common.goback  (session . "taskList")}}
          </td>
        </tr>
      </table>
    </form>
    <hr class='small' />
    <div class='main'>{{template "action.html" .}}</div>
  </div>
</div>
{{template "footer.html" .}}
